<section class="landing">
  <img src="../../assets/logo/logo.png" alt="" class="landing_logo">
  <!-- <div class="landing_book">
    <button class="landing_book_cta">
      BOOK NOW
    </button>
  </div> -->
  <div class="landing_cuts">
    <div class="column">
      <div class="landing_cuts_section">
        <p class="landing_cuts_section_title">Cuts</p>
        <p class="landing_cuts_section_price">Cut and Finish <br> £40-49</p>
        <p class="landing_cuts_section_price">Fringe Cut <br> £9</p>
        <p class="landing_cuts_section_price">Restyle <br> £45-55</p>
        <!-- <p class="landing_cuts_section_price">Wash and Cut <br> £35</p> -->
      </div>
      <div class="landing_cuts_section">
        <p class="landing_cuts_section_title">Styling</p>
        <p class="landing_cuts_section_price">Blow Dry <br> £30-35</p>
        <p class="landing_cuts_section_price">After Colour Blow Dry <br> £20-25</p>
        <p class="landing_cuts_section_price">Curling <br> £35</p>
        <!-- <p class="landing_cuts_section_price">Perm <br> £85</p> -->
      </div>
      <button>All Prices</button>
    </div>
    <div class="column">
      <div class="landing_cuts_section">
        <p class="landing_cuts_section_title">Colour</p>
        <p class="landing_cuts_section_price">Balayage <br> £85</p>
        <p class="landing_cuts_section_price">Half/Full Head Foils <br> £65/£90</p>
        <p class="landing_cuts_section_price">Tint Regrowth <br> £45</p>
        <!-- <p class="landing_cuts_section_price">Toner <br> £20</p> -->
        <!-- <p class="landing_cuts_section_price">Bleaching <br> Consulation Required</p> -->
      </div>
      <div class="landing_cuts_section">
        <p class="landing_cuts_section_title">Gents Cuts</p>
        <p class="landing_cuts_section_price">Hair Cut <br> £15</p>
        <p class="landing_cuts_section_price">Beard Trim <br> £6</p>
        <p class="landing_cuts_section_price">Gentleman’s Tint, Cut & Finish <br> £40</p>
        <!-- <p class="landing_cuts_section_price">Cut and Finish (Wash, Cut and Blow Dry) <br> £30</p> -->
      </div>
      <button>Book Now</button>
    </div>
        
       
  </div>
</section>